:root{
    --color1:#85c0c296;
    --color2:#09101b98;
    --color3:#e81212;
    --color4:#0920ccef;
}
body{
    background-image: url(bck.jpg);
       
    background-repeat: no-repeat;
    background-size: 158%;
    background-position:cover;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.con{
    height: 55vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    /*margin: 10px 0px; */
    color: var(--color4);
    position: relative;
    /* left: 15vw; */
}

#registrationForm{ 
    position: relative;
    /*left: 15vw;  */  
    width: 500px;   
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--color1);
    height: max-content;
    border-radius: 18px;
    margin-bottom: 10px;
}

.row{    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
legend{
    color: white;
    font-size: larger;
    letter-spacing: 3px;
    text-align: center;
    color: var(--color4);
}
label {    
    margin-bottom: 5px; 
    font-weight: bold;
           
}

input, select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
fieldset {
    width: 100%;
    border: 1px solid var(--color4);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color1);
}


.btn-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-con a{
    color: rgb(201, 188, 236);
    text-decoration: none;
    font-size:15px
    
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color2);
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #50C878;
    box-shadow: 0px 0px 5px var(--color2);
}

.con1{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.con1{
    height: 45h;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginForms{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#StudentLoginForm{ 
    position: relative;
    /* left: 15vw;    */
    width: 500px;  
    padding: 10px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    background-color: var(--color1);
    height: max-content;
    border-radius: 18px;
    margin-bottom: 10px;
    
}

#employeeLoginForm{ 
    position: relative;
    /* left: 15vw;    */
    width: 500px;   
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    background-color: var(--color1);
    height: max-content;
    border-radius: 18px;
    margin-bottom: 10px;
}
fieldset {
    width: 100%;
    border: 1px solid var(--color4);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color1);
}

